{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQote": true,
  "trailingComma": all,
  "bracketSpacing": true,
  "jszBracketSameLine": false,
  "arrowParens": avoid,
  "proseWrap": always
}
